html {
  background: grey;
  height: auto;
}

html > body {
  height: auto;
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: url("../img/car-finder-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: #000; // fallback color
}

// body {

// }
